.App {
  text-align: center;
}

img.product {
  max-width: 200px;
  max-height: 200px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.33% - 10px); 
  margin-bottom: 20px; 
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .product {
    width: calc(50% - 10px); 
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: 100%; 
  }
}
